@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

body {
	background-color: #fff;
	text-align: center;
	font-family: "Red Hat Display";
}

.section1 {
	display: flex;
}

.section2 img {
	width: 255px;
	height: 242px;
	padding: 15px;
}

footer {
	background-image: url("images/image-footer.jpg");
}
